body {
	font-family: sans-serif;
	/* The background image is temporary and will be customizable */
	background-image: url("http://i.cubeupload.com/5nWvbl.jpg");
	background-repeat: no-repeat;
	margin:0px;
}

#navlist li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	display:inline-block; 
	vertical-align:middle;
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
}

#navlist {
	margin:0px;
}

nav {
	width:100%;
	background-color:rgba(0,0,0,0.4);
	margin:0px;
}

.nav-item {
	color: white;
	text-decoration: none;
	cursor:pointer;
}

#footer {
	display:inline-block; 
	vertical-align:bottom;
	color:white;
}

#footer {
	position:absolute;
 	bottom:0;
 	width:100%;
 	background-color:rgba(0,0,0,0.7);
	padding-right:0px;
	padding-top:5px;
	padding-bottom:5px;
}

.footer-p {
	margin-left:20px;
	line-height:0px;
}
